@import "tailwindcss";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

@layer components {
  .card {
    color: coral;
    position: absolute;
    top: 90;
    left: 10;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
